@font-face {
    font-family: 'upbean';
    src: url('UpBean Regular Ver 1.00.ttf');
    src: url('font/UpBean Regular Ver 1.00.ttf') format('truetype'),
    font-weight: normal;font-style: normal; 
}
