@font-face {
    font-family: 'TH Sarabun PSK';
    src: url('thsarabun-webfont.eot');
    src: url('thsarabun-webfont.eot?#iefix') format('embedded-opentype'),
         url('thsarabun-webfont.woff') format('woff'),
         url('thsarabun-webfont.ttf') format('truetype'),
         url('thsarabun-webfont.svg#THSarabunPSKRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}